<html>
  <head></head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
      <input type="hidden" name="number" value="<%= number %>" />
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>
